@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --padding: 7px 15px;
}

body {
  background-color: #fff;
  color: #000;
  max-width: 1080px;
  margin: auto;
}

.bold-text {
  font-size: 15px;
  line-height: auto;
  letter-spacing: 0%;
  font-weight: bold;
}


.btn{
  font-weight: bold;
  font-size: 15px;
  line-height: auto;
  letter-spacing: 0%;
  padding: var(--padding);
  border-radius: 10px;
  
}

.background-gradient-yellow-purple{
  background: rgb(255,168,0);
  background: linear-gradient(36deg, rgba(255,168,0,1) 0%, rgba(172,66,255,1) 100%);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.background-gradient-green-blue{
  background: #00ff85;
  background: linear-gradient(36deg, #00ff85 0%, #1400fb 100%);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.background-gradient-red-green{
  background: #ff4d00;
  background: linear-gradient(36deg, #ff4d00 0%, #42ff60 100%);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.background-gradient-green-yellow{
  background: #00bd2a;
  background: linear-gradient(36deg, #00bd2a 0%, #D99C00 100%);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.background-gradient-blue-green{
  background: #0035bd;
  background: linear-gradient(36deg, #0035bd 0%, #52D900 100%);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.background-disabled{
  background-color: rgba(0,0,0,.5);
  color: #fff;
  border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.border-gradient-yellow-purple{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(172,66,255,1) 100%);
border-radius: 10px;
padding: 14px;
box-sizing: content-box;
  padding: var(--padding);
box-sizing: content-box;
}

.border-gradient-green-blue{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, #00ff85 0%, #1400fb 100%);
border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.border-gradient-red-green{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, #ff4d00 0%, #42ff60 100%);
border-radius: 10px;
  padding: var(--padding);
box-sizing: content-box;
}

.border-gradient-green-yellow{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, #00bd2a 0%, #D99C00 100%);
border-radius: 10px;
padding: 14px;
box-sizing: content-box;
  padding: var(--padding);
box-sizing: content-box;
}

.border-gradient-blue-green{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, #0035bd 0%, #52D900 100%);
border-radius: 10px;
padding: 14px;
box-sizing: content-box;
  padding: var(--padding);
box-sizing: content-box;
}

.border-disabled{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,.5) 100%);
border-radius: 10px;
padding: 14px;
box-sizing: content-box;
  color: rgba(0, 0, 0, 0.65);
    padding: var(--padding);
border-radius: 10px;

}